<div class="container">
  <h1 class="title">stupid coaching</h1>

<form action="answer" class="form-control text-center">
  <label for="">ask your coach anuything:</label>
  <div class="input">
    <input type="text" class="form-control" name="question">
    <input type="submit" class="btn btn-dark mt-1" value="Ask!">
  </div>
</form>
</div>
